* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2,
.work-item-title{
  color:white;
}
a{
  text-decoration: none;
}
p {
  margin: 0;
}
/* flex areas */
header, 
.hero-banner,
#work-main,
.work-item{
  display:flex;
}
/* grid areas */
.page-wrapper,
.page-section,
#work-grid-container{
  display: grid;
}

/* header / profile img / nav */

header{
  align-items:center;
  justify-content: space-between;
  background-color:#2786d8;
  height: 100px;
  padding-right: 20px; 
}
#profile-img{
  position:absolute;
  border-radius: 50px;
  top:10px;
  width: 80px;
  height: 80px;
  background: url("../images/m.jpg") center;
  background-size:cover;
  border: 3px solid white;
  margin-left: 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}
#profile-img:hover{
  width: 200px;
  height: 200px;
}
header h1{
  padding:15px 15px 5px 100px;
  background-color:#14539b;
  border-radius: 0 15px 15px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px;
}
nav{
  min-width:fit-content;
  white-space: nowrap; 
}

nav ul li{
  display: inline;
  font-weight: bold;
  font-size: 25px;
  
}
nav ul li a{
  color:white;
  margin: 0 10px 0 10px;
  text-decoration: none;
  padding: 5px;
  border:0 white;
  transition: all 0.4s ease;
}
nav ul li a:hover{
  letter-spacing: 5px;
  border-top-width:1px;
  border-bottom-width:1px;
  border-style: solid;
}

/* hero banner */

.hero-banner{
  align-items: flex-end;
  justify-content: end;
  height: 400px;
  width: 100%;
  background: url("../images/737402.jpg") no-repeat fixed center;
  background-size: cover;
  padding-bottom:20px;
  padding-right: 20px;
  transition: all 0.4s ease;
}
.hero-banner h2{
  font-size:18px;
  font-weight: bold;
  padding: 20px;
  font-style: italic;
  background-color: #14539b7a;
  transition: all 0.4s ease;
}

/* main content */
.page-wrapper{
  grid-template-areas:
  "about"
  "work"
  "contact";
}
#about{
  grid-area: about;
}
#work{
  grid-area: work;
}
#contact{
  grid-area: contact;
}
#about,
#work,
#contact{
  text-align: right;
  border-bottom: 1px solid white;
}
.page-section{
  grid-template-columns: minmax(140px, 257%) 75%;
  grid-template-areas:
  "header content";
}
.page-section h2{
  grid-area: header;
  background-color:#2786d8;
  
}
.section-content{
  grid-area: content;
  text-align: left;
}
.page-section h2, 
.section-content{
  padding: 20px;
  
}
/* work showcase */
#work-grid-container{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 250px 250px;
  grid-template-areas:
  "main main"
  "showcase2 showcase3"
  "showcase4 showcase5"
  ;
  transition: all 0.4s ease;
}
.work-item-title{
  position:relative;
  padding:10px;
  background-color:#14539b;
  width: fit-content;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2rem;
  transition: all 1s ease;
  border-radius: 0 0.8rem 0.8rem 0;
  z-index: 1;

}
.work-item-title span{
  font-size:15px;
  font-weight: lighter;
}
#work-main,
.work-item{
  border: 5px solid #14539b;
  margin: 10px;
  align-items: flex-end;
  position:relative;
  border-radius: 0.8rem;
  transition: 1s all;

}
#work-main:after,
.work-item:after{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: blue;
  opacity: 0;
  transition: 1s all;
  }
  
  #work-main:hover:after,
  .work-item:hover:after{
  opacity: 0.2;
  }
  #work-main:hover > .work-item-title,
  .work-item:hover > .work-item-title{
    background-color: #2786d8;
  }
  #work-main:hover ,
  .work-item:hover {
    border-color: #2786d8;
  }


  

#work-main{
  padding-bottom: 20px;
}
.work-item{
  padding-bottom: 10px;
}
#work-main:hover,
.work-item:hover{
  background-color: black;

}
#work-main{
  grid-area: main;
  background: url("../images/02-portfolio-1.jpg") no-repeat center;
  background-size: cover;
  
}
.showcase2{
  grid-area: showcase2;
  background: url("../images/02-portfolio-2.jpg") no-repeat center;
  background-size: cover;
}
.showcase3{
  grid-area: showcase3;
  background: url("../images/02-portfolio-3.jpg") no-repeat center;
  background-size: cover;
}
.showcase4{
  grid-area: showcase4;
  background: url("../images/02-portfolio-4.jpg") no-repeat center;
  background-size: cover;
}
.showcase5{
  grid-area: showcase5;
  background: url("../images/02-run-buddy.jpg") no-repeat center;
  background-size: cover;
}
/* contact info */
.contact-info{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}
.contact-info a{
  font-size: 20px;
  color: #14539b;
  transition: all 0.4s ease;
  
}
.contact-info a:hover{
  color: #207be2;
  transform: scale(1.1);
}
.phone:before{
  content: 	'\260F';
}
.email:before{
  content: '\2709';
}
.phone:before,
.email:before{
  font-size: 25px;
}
/* Small devices */

@media (max-width: 576px) {
  nav{
    margin-right: -40px;
    position: unset;
  }
  nav ul li{
    font-size: 20px;
  }
  
}


/* Medium devices */

@media (max-width: 768px) {


  header{
    flex-direction: column;
    padding-right: 0;
    height: fit-content;
  }
  #profile-img{
    position:absolute;
    left: 20px;
    top: 20px;
  }
  header h1{
    text-align: center;
    padding:15px 15px 5px 15px;
    width: 100%;
    border-radius: 0;
  }
  #work-grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 250px 250px 250px !important;
    grid-template-areas:
    "main"
    "showcase2"
    "showcase3"
    "showcase4"
    "showcase5"
    ;
  }
  .work-item{
    padding-bottom: 20px;
  }
}

/* Large devices */

  @media (max-width: 950px) {

  .contact-info{
    flex-direction: column;
    padding: 0;
  }
  .contact-info a{
    padding-top:10px;
    
  }


}


/* Extra large devices  */

@media (min-width: 1200px) {
  .hero-banner{
    height: calc(100vh - 100px);
  }
  .hero-banner h2{
    font-size:25px;
  }


}
